:root {
    --cor0: #0AA67F;;
    --cor1: #21A663;
    --cor2: #408F38;
    --cor3: #2941A8;
    --cor4: #CCC53B;
    --cor5: #18fac2c5;

    --fonte-padrao: Arial,Verdana,Helvetica, sans-serif;
    --fonte-destaque:  'Bebas Neue', 'Dancing Script', 'Silkscreen';
    --fonte-alt: "Okina";
}

body {
    background: linear-gradient(#cdff5764, #ffffff);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: "\00A0\1F517";
}

header {
    background-image: linear-gradient(to left, var(--cor4), var(--cor0));
    font-family: var(--fonte-destaque);
    text-align: center;
    margin: auto;
    
    
}

    header {
        background-image: linear-gradient(to left, var(--cor4), var(--cor0));
        font-family: var(--fonte-destaque);
        min-width: 150px;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        
    }
    
    nav {
        background-color: var(--cor0);
        padding: 10px;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.544);
    }
    
    nav > a {
        color: white;
        padding: 5px;
        margin-top:  30px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        
    }
    
    nav > a:hover {
        background-color: var(--cor4);
    }

    
    main {

        width: auto;
        margin: 0;
    }

    .input-padrao  {
        
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
        padding: 10px 25px;
        width: 50%;
    }

    form {

        max-width: 20px 0px;
        margin: 20px;
        
    }

    form label, form legend {
        margin-top: 10px;
        padding: 5px;
        display: block;
    }

    .checkbox {

        margin: 20px 0px;

    }

    .enviar {
        width: 40%;
        padding: 15px 0 ;
        background-color: #0AA67F;
        color: white;
        font-weight: bold;
        font-size: 18px;
        border-radius:5px ;
        border: none;
        cursor: pointer;
        transition: 1s all;


    }

    .enviar:hover {

        background: #408F38;
        transform: scale(1.2);
        

        

    }

    table {

        margin: 40px 20px 40px;

    }

    thead {

        background: #21A663;
        font-weight: bold;
        color: white;
    }

    td, th {

        border: 1px solid black;
        padding: 8px 15px;

    }

    
  

    footer {
        background-color: var(--cor2);
        color: white;
        text-align: center;
        font-size: 1em;
        padding: 2px;
    }
    
    footer  a {
        color: white;
        font-weight: bolder;
        text-decoration: none;
        text-align: center;
         
        
    }
    
    footer a:hover {
        text-decoration: underline;
        color: var(--cor4);
    }
